body {
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 1.28571em;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
}

.page-header {
  background: #d32323
    url(https://s3-media4.fl.yelpcdn.com/assets/srv0/yelp_styleguide/c146b0884f6a/assets/img/structural/header_stars.png)
    no-repeat center;
}

.main-header {
  padding: 12px 0;
  position: relative;

  display: flex;
  justify-content: space-around;

  margin: 0 auto;
  width: 90%;
}

.main-header_logo a {
  display: block;
  width: 100%;
  height: 100%;
  text-indent: -1000em;
}

.main-header_logo {
  background-size: 80px 40px;
  width: 80px;
  height: 40px;
  background-repeat: no-repeat;
  background-image: url(https://s3-media3.fl.yelpcdn.com/assets/srv0/yelp_design_web/b085a608c15f/assets/img/logos_desktop/default@2x.png);
}

.arrange_unit {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: flex;
  vertical-align: top;
}

.form-unit {
  width: 70%;
  background-color: white;
  height: 0;
}

.main-search_pseudo-input {
  -webkit-box-shadow: none;
  box-shadow: none;
  padding: 8px 12px;
  border: none;
  border-radius: 0;
  background: #fff;
  margin: 0;
  line-height: 20px;
  width: 50%;
}

.find-input {
  border-radius: 4px 0 0 4px;
  border-right: 1px solid #ccc;
}

.pseudo-input_text {
  font-weight: 700;
}

.pseudo-input_text_find {
  border-radius: 4px 0 0 4px;
  position: relative;
}

.main-search_submit,
.yform .main-search_submit {
  -webkit-box-shadow: none;
  box-shadow: none;
  border: 0;
  border-radius: 0 4px 4px 0;
  background: #bd1f1f;
  line-height: 36px;
  padding: 0 15px;
  width: 54px;
}

.pseudo-input input,
.yform .pseudo-input input:focus,
.yform .pseudo-input.focused input {
  margin: 0;
  border: 0;
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  background: none;
  padding: 2px;
  display: inline-block;
  vertical-align: middle;
}

.svg-holder {
  margin-right: 3px;
}

.svg-nav-24 {
  width: 20px;
  /* height: 20px; */
  fill: white;
}

.svg-nav-18 {
  width: 16px;
  /* height: 16px; */
  fill: white;
  vertical-align: -20%;
}

.nav-triangle-stroke {
  width: 14px;
}

.user-account_avatar img {
  width: 20px;
  /* height: 20px; */
}

.main-header .main-header_account .user-account_button,
.main-header .main-header_nav-dropdown .user-account_button {
  padding: 0;
}

.main-header .main-header_button,
.main-header .main-header_account .user-account_button,
.main-header .main-header_nav-dropdown .user-account_button {
  -webkit-box-shadow: none;
  box-shadow: none;
  vertical-align: middle;
  margin: 0;
  outline: 0;
  border: none;
  border-radius: 4px;
  background: #bd1f1f;
  line-height: 24px;
  padding: 6px 18px;
}

.main-header_account .user-account_button,
.main-header_nav-dropdown .user-account_button {
  width: 58px;
}

.dropdown-container {
  margin: 0 auto;
  width: 90%;
  display: flex;
}

.dropdown-item {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 12px;
  line-height: 1.28571em;
  font-weight: 500 !important;
  border: #e6e6e6 1px solid;
  padding: 8px 12px;
  vertical-align: middle;
  width: 14.25%;
  height: 30px;
}

.icon_svg {
  vertical-align: middle;
}

.header-top-addons {
  background: #bd1f1f;
  padding: 3px 0;
  text-align: center;
  font-size: 12px;
  line-height: 1.75em;
  font-weight: bold;
  z-index: 9;
  color: #fff;
}

.biz-a {
  text-decoration: none;
  color: #fff;
}

.biz-a:hover {
  text-decoration: underline;
}
